<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.project522.mapper.LoginMapper">
    

  <select id="getUserInfo" resultType="com.project522.domain.UserVO">
    SELECT user_id, user_pw, user_name, user_nickname, user_address
    FROM UserInfo
  </select>
  
    <select id="checkUserIdExist" resultType="com.project522.domain.UserVO">
    SELECT user_id
    FROM UserInfo 
    WHERE user_id = #{user_id}
  </select>
  
  <select id="checkUserNicKNameExist" resultType="com.project522.domain.UserVO">
    SELECT user_nickname
    FROM UserInfo 
    WHERE user_nickname = #{user_nickname}
  </select>
  
  
  <select id="getUserInfoList" resultType="com.project522.domain.UserInfoVO">
    SELECT user_id, user_pw, user_name, user_nickname, user_address
    FROM UserInfo
    WHERE user_id = #{user_id} AND user_pw = #{user_pw}
  </select>
  
<insert id="insertUser" 
 parameterType="com.project522.domain.UserInfoVO">
INSERT INTO UserInfo (USER_NAME, USER_ID, USER_PW, USER_NICKNAME, USER_ADDRESS)
VALUES (#{user_name}, #{user_id}, #{user_pw}, #{user_nickname}, #{user_address})
</insert>
	
 <select id="UserInfoAll" resultType="com.project522.domain.UserInfoVO">
    SELECT user_id, user_pw
    FROM UserInfo
 </select>
	
	
	
</mapper>	
